<div class="initial-git stacontainer">
    <div id="initial">
        <form action ="/artist-search-results" method="GET">
            <input type="text" placeholder="Aritst's name" name="artistName"><br>
            <button>Search for an Artist</a></button>
        </form>
    </div>
</div>